version: 2.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:8
    steps:
      - checkout
      - run:
          name: Build with Maven
          command: mvn clean install
      - run:
          name: Upload JaCoCo coverage to Codecov
          command: |
            # Installer l'outil Codecov
            curl -s https://codecov.io/bash | bash
workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master

